# =========================================
# Environment Variables for Docker Services
# =========================================

COMPOSE_PROJECT_NAME=emobase_genomics

MYSQL_ROOT_PASSWORD=youshallnotpass
MYSQL_DATABASE=emobase_genomics
MYSQL_USER=emobase
MYSQL_PASSWORD=emobase

# =========================================
# Environment Variables for Main Application
# =========================================

# Prefix for environment variables to avoid conflicts and for better organization.
# If defined, all environment variables for the application should start with this prefix.
# If not defined (remove this env), the application will use "emobase_genomics" as the default prefix.
EMOBASE_GENOMICS_ENV_PREFIX=

MAIN_SPECIES=Ptep
HTTP__MODE=debug

MYSQL__HOST=mysql
MYSQL__PORT=3306
MYSQL__USER=${MYSQL_USER}
MYSQL__PASSWORD=${MYSQL_PASSWORD}

ELASTICSEARCH__ADDRESSES=http://elasticsearch:9200
BLAST__CONTAINER_NAME=emobase_genomics_blast
